* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: black;
  background-size: cover;
  backdrop-filter: blur(0.1em);
  
}

#time {
  font-family: 'Overlock', cursive;
  font-size: 8rem;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

@media(max-width:700px)
  {
    #time{
      font-size: 5rem;
    }
  }
